.list{
    list-style: none;
}

.app{
    display: flex;
    flex-direction: column;
    background-color:turquoise;
    height: 100vh;
}

.content{
    background-color: tomato;
    flex-grow: 1;
}

.navbar{
    display: flex;
    background-color: gray;
    justify-content: space-between;
}

.menu_button{
    background-color: greenyellow;
}

.search_button{
    background-color: red;
}

.logo{
    background-color: white;
}